<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClientsController</servlet-name>
        <servlet-class>Controller.ClientsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesController</servlet-name>
        <servlet-class>Controller.CategoriesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsController</servlet-name>
        <servlet-class>Controller.ProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandsController</servlet-name>
        <servlet-class>Controller.BrandsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>Controller.BuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessController</servlet-name>
        <servlet-class>Controller.AccessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestsController</servlet-name>
        <servlet-class>Controller.RequestsController</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>Controller.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientsController</servlet-name>
        <url-pattern>/clients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesController</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsController</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandsController</servlet-name>
        <url-pattern>/brands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessController</servlet-name>
        <url-pattern>/access</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestsController</servlet-name>
        <url-pattern>/requests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
